<h1>@ViewBag.title</h1> 

<form method="post"> 
    @*Form that will allow the user to select which cheeses they want to delete*@

    @foreach(var cheese in ViewBag.cheeses) 
        //loop over the cheeses that we have been given - the viewbag passes the cheeses in
    {
        <input type ="checkbox" name="cheeseIds" id="@cheese.CheeseId" value="@cheese.CheeseId" />
        //create checkbox and label for each cheese
        //using CheeseId as the value allows you to distinguish between two cheeses (the id is unique for all cheeses)
        <label for="@cheese.CheeseId">@cheese.Name</label>
        <br />
    }

    <input type ="submit" value="Remove Selected Cheese(s)" />
</form>